* {
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: #f5f5f5;
    --hover-color: #12f7ff;
    --bg-color: linear-gradient(to right, #00384C, #1C2030, #141725, #1C2030, #45003C);
    --secon-bg-color: #800080;
    --big-font: 2.5rem;
    --norma-font: 2rem;
    --box-shadow: 0 0 .5rem #12f7ff;
    --h2-font: 3rem;
    --box-color: #03e4eb;
    --sen-text-color: #555555;
    --text-shadow: 0 0 10px rgba(18, 247, 255, 0.8), 0 0 20px rgba(18, 247, 255, 0.6), 0 0 40px rgba(18, 247, 255, 0.4);
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: var(--main-color);
    backdrop-filter: blur(10px);
    transition: all 0.5 ease;
}

.logo {
    font-size: 3rem;
    color: var(--hover-color);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logo.hover {
    transform: scale(1.05);
}

.navbar {
    display: flex;
    align-items: left;
    transition: all 0.3s ease;
}

.navbar a {
    font-size: 1.9rem;
    color: var(--big-font);
    margin-left: 4rem;
    font-weight: 700;
    transition: 0.3s ease;
}

.navbar a:hover {
    color: var(--font-neon-text-shadow);
    text-shadow: 0 0 10px rgba(18, 247, 255, 0.8), 0 0 20px rgba(18, 247, 255, 0.6), 0 0 40px rgba(18, 247, 255, 0.4);
}

.navbar a.active {
    color: var(--hover-color);
    text-shadow: var(--font-neon-text-shadow);
}

#menu-icon {
    font-size: 2.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: var(--hover-color);
    display: none;
    border-radius: 3px;
    color: var(--secon-bg-color);
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    padding: 5rem;
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.home-img {
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 15px var(--hover-color);
    cursor: pointer;
    transition: box-shadow 0.6s ease, transform 0.6s ease;
    position: relative;
    animation: floatImage 4s ease-in-out infinite;
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.home-img:hover {
    box-shadow: 0 0 1cap var(--hover-color), 0 0 20px var(--hover-color);
    transform: scale(1.05);
}

.home-img:hover img {
    transform: scale(1.05);
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content {
    width: auto;
}

.home-content h1 {
    margin: 10px 0 10px;
    font-size: 38px;
    color: var(--hover-color);
}

.home-content h2 {
    margin-bottom: -3px;
    font-size: 40px;
    color: var(--text-color);
}

.home-content h3 {
    font-size: 33px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1;
    color: var(--text-color);
}

.home-content span {
    color: var(--hover-color);
    font-weight: bold;
    font-size: 35px;
}

.multiple-text {
    position: relative;
    color: var(--hover-color);
    font-weight: bold;
    font-size: 35px;
}

.multiple-text::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 70%;
    background-color: var(--hover-color);
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.social-media {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 0.3rem solid var(--hover-color);
    border-radius: 100%;
    font-size: 2.5rem;
    color: var(--hover-color);
    background-color: var(--bg-color) var();
    transition: all 0.4s ease;
}

.social-media a:hover {
    background: var(--bg-color);
    color: var(--box-color);
    color: var(--font-neon-text-shadow);
    text-shadow: 0 0 10px rgba(18, 247, 255, 0.8), 0 0 20px rgba(18, 247, 255, 0.6), 0 0 40px rgba(18, 247, 255, 0.4);
    transform: scale(1.1);
}

.home-content a.button {
    display: inline-block;
    font-size: 1.6rem;
    background: var(--hover-color);
    border: 0.3rem solid var(--text-color);
    padding: 1rem 2rem;
    border-radius: 50px;
    stroke: 2px;
    gap: 10px;
    text-decoration: none;
    margin-top: 1px;
    font-weight: bold;
    transition: all 0.4s ease;
}

.home-content a.button:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-shadow: 0 0 10px rgba(18, 247, 255, 0.8), 0 0 20px rgba(18, 247, 255, 0.6), 0 0 40px rgba(18, 247, 255, 0.4);
    transform: scale(1.1);
}

.education-container h1 {
    text-align: center;
    margin-bottom: 30pxpx;
    color: var(--box-color);
    font-size: 4rem;
}

.education-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
}

.education-box {
    width: 100%;
    height: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--bg-color);
    border: 1px solid var(--hover-color);
    border-radius: 8px;
    box-shadow: 0 0 5px var(--box-color);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

section {
    min-height: auto;
    padding: 6rem 9% 10rem;
}

.education-box a {
    font-size: 5rem;
    color: var(--box-color);
}

.education-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0px 18px var(--hover-color);
}

.education-box h2 {
    color: var(--text-color);
    margin-bottom: 10px;
    font-size: 24px;
}

.education-box p {
    color: var(--text-color);
    font-size: 18px;
}

.education-box .date {
    font-size: 20px;
    color: var(--text-color);
    line-height: 30px;
    margin-bottom: 10px;
}

.icon {
    font-size: 6rem;
    margin-bottom: 2rem;
}


/* Skills Section */

.skills {
    background: var(--bg-color);
    min-height: 100vh;
    padding: 5rem 9% 2rem;
}

.skills .heading {
    text-align: center;
    font-size: 4.5rem;
    color: var(--hover-color);
    margin-bottom: 5rem;
}

.skills-content {
    display: flex;
    justify-content: space-between;
    gap: 7rem;
    flex-wrap: wrap;
}

.technical-skills,
.professional-skills {
    flex: 1;
    min-width: 300px;
}

.technical-skills h3,
.professional-skills h3 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: var(--text-color);
    text-align: center;
}


/* Technical Skills Bars */

.skill-bar {
    margin-bottom: 2.5rem;
}

.skill-bar .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.skill-bar .info p {
    font-size: 1.7rem;
    color: var(--text-color);
}

.skill-bar .bar {
    position: relative;
    width: 100%;
    height: 1.5rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.8rem;
    overflow: hidden;
}

.skill-bar .bar span {
    position: absolute;
    height: 100%;
    border-radius: 0.8rem;
    background: var(--hover-color);
    transition: width 1s ease;
    width: 0;
}

.skill-bar .bar span.animate {
    animation: fillBar 1s ease forwards;
}

.skill-bar .bar .figma.animate {
    --percent: 90%;
}

.skill-bar .bar .html.animate {
    --percent: 80%;
}

.skill-bar .bar .css.animate {
    --percent: 75%;
}

.skill-bar .bar .javascript.animate {
    --percent: 55%;
}

.skill-bar .bar .python.animate {
    --percent: 70%;
}

@keyframes fillBar {
    100% {
        width: var(--percent);
    }
}


/* Professional Skills Circles */

.skill-circles {
    display: grid;
    grid-template-columns: repeat(max(2), minmax(250px, 2fr));
    gap: 10rem;
    justify-items: center;
    margin-top: 7rem;
}

.circle-wrap {
    width: 150px;
    height: 150px;
    position: relative;
}

.circle {
    width: 100%;
    height: 100%;
    position: relative;
}

.circle .mask,
.circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle .mask.full,
.circle .fill {
    animation: fill ease-in-out 1s;
    transform: rotate(calc(var(--value) * 1.8deg));
}

.circle .mask.full {
    animation: fill ease-in-out 1s;
    transform: rotate(calc(var(--value) * 1.8deg));
}

.circle .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: var(--hover-color);
}

.circle .mask.half {
    clip: rect(0px, 75px, 150px, 0px);
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(calc(var(--value) * 1.8deg));
    }
}

.circle .inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: var(--bg-color);
    border: 2px solid var(--hover-color);
    line-height: 190px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 500;
    font-size: 2rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inside-circle .skill-name {
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 0.5rem;
    color: var(--hover-color);
}


/* Responsive Design */

@media (max-width: 768px) {
    .skills-content {
        flex-direction: column;
    }
    .skill-circles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .skill-circles {
        grid-template-columns: 1fr;
    }
}


/*Services section code*/

.services-section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}

.services-section h2 {
    font-size: 5rem;
    margin-bottom: 30px;
    color: var(--hover-color);
}

.services-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
}

.service-box {
    background: var(--bg-color);
    border: 1px solid var(--hover-color);
    border-radius: 8px;
    box-shadow: 0 0 5px var(--box-color);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px var(--hover-color);
}

.service-box .icon {
    font-size: 5rem;
    color: var(--text-color);
    margin-bottom: 15px;
}

.service-box h3 {
    font-size: 3.5rem;
    margin: 20px 0;
    color: var(--text-color);
}

.service-box p {
    font-size: 2.3rem;
    color: var(--text-color);
    margin: 20px 0 30px;
}


/*Contact section code*/

.contact {
    justify-content: center;
    display: flex;
    padding: 2rem;
}

.contact-section h1 {
    text-align: center;
    font-size: 4.5rem;
    color: var(--hover-color);
    margin-bottom: 4rem;
}

.contact-card {
    background: var(--bg-color);
    border: 1px solid var(--hover-color);
    border-radius: 20px;
    padding: 2rem;
    width: 100%;
    max-height: 500px;
    max-width: 850px;
    display: flex;
    gap: 6rem;
    box-shadow: 0 0 8px var(--hover-color);
    position: relative;
}

.icon-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.envelope-icon {
    width: 120px;
    height: 120px;
    color: var(--box-color);
}

.form-section {
    width: 750px;
}

.form-section h2 {
    font-size: 2.4rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    width: 90%;
    padding: 12px;
    border: none;
    background: var(--text-color);
    border-radius: 8px;
    font-size: 1.4rem;
}

.form-group textarea {
    height: 150px;
    resize: vertical;
}

.contact-section button {
    background: var(--box-color);
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
    border: 0.3rem var(--text-color);
    margin-top: 2rem;
    width: auto;
    min-width: 150px;
}

.contact-section button:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-shadow: 0 0 10px rgba(18, 247, 255, 0.8), 0 0 20px rgba(18, 247, 255, 0.6), 0 0 40px rgba(18, 247, 255, 0.4);
    transform: scale(1.1);
}

button::after {
    content: "→";
    font-size: 18px;
}

@media (max-width: 768px) {
    .contact-card {
        flex-direction: flex;
        padding: 24px;
    }
    .icon-section {
        padding: 20px 0;
    }
}


/*footer section*/

footer {
    background-color: var(--snd-bg-color);
    text-align: center;
    padding: 20px;
    margin: 8rem 0 2rem;
}

footer p {
    font-size: 20px;
    color: var(--text-color);
}


/*Responsive design code*/

@media (max-width:1200px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 5rem;
    }
    .home {
        flex-direction: column;
        margin-top: 10rem;
    }
    .content {
        padding: 7rem;
    }
    .contact form .input-box input {
        width: 100%;
    }
    .footer {
        padding: 2rem 3%;
    }
    .skill-circles {
        grid-template-columns: repeat(2);
    }
    .home {
        gap: 3rem;
        margin-top: 5rem;
    }
}

@media (max-width:800px) {
    #menu-icon {
        display: block;
    }
    .navbar a {
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navbar.active {
        right: 0;
    }
    .home {
        flex-direction: column;
        margin-top: 10rem;
    }
    .home-content h3 {
        font-size: 300%;
    }
    .home-content h1 {
        font-size: 4rem;
    }
    .home content {
        order: 2;
        margin-left: 1rem;
    }
    .home-img img {
        margin-top: 4rem;
    }
    .social-media {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: 2rem auto;
    }
    .services h1 {
        margin-bottom: 3rem;
    }
    .services-container {
        flex-wrap: wrap;
        align-items: center;
    }
    .education-boxes {
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    .education-boxes {
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    #menu-icon {
        display: flex;
        transition: all 0.4s ease;
    }
    .navbar a {
        display: block;
        padding-bottom: 1rem;
        font-size: 2.5rem;
    }
    .form-section {
        max-width: 400px;
    }
    #menu-icon.bx-x {
        transform: rotate(180deg);
    }
    .skill-circles {
        grid-template-columns: repeat(2);
    }
    .navbar {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        flex-direction: column;
        background-color: var(--bg-color);
        text-align: right;
        padding: 0 5%;
    }
    .navbar.active {
        display: flex;
        animation: slideDown 0.3s ease forwards;
    }
    .home {
        margin-top: 8rem;
    }
    .home-content {
        text-align: center;
        margin-top: 2rem;
    }
    .education-boxes {
        grid-template-columns: 1fr;
    }
}

@media (max-width:590px) {
    section {
        padding: 10rem;
    }
    .home-img img {
        width: 60vw;
    }
    .home-content h2 {
        font-size: 32px;
    }
    .home-content h1 {
        font-size: 30px;
    }
    .home-content h3 {
        font-size: 25px;
    }
    .home-content span {
        font-size: 30px;
    }
    .social-media {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: 2rem auto;
        width: 100%;
    }
    .home-content .social-media a {
        width: 35px;
        height: 35px;
        font-size: 2rem;
        align-items: center;
    }
    .education-boxes {
        flex-wrap: wrap;
        align-items: center;
    }
    .services-container {
        flex-wrap: wrap;
        align-items: center;
    }
    .form-section {
        width: 100%;
    }
    .contact-card {
        padding: 20px;
    }
    .contact-section button {
        position: static;
        /* Change from absolute to static */
        transform: none;
        /* Remove the transform */
        margin: 20px auto 0;
        /* Center the button and add top margin */
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}